.email-li {
    padding: 5px 10px 5px 10px;
    border: solid;
    border-width: thin;
    border-color: #80808014;
}


.email-li:hover {
    box-shadow: inset 1px 0 0 #dadce0,
        inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
    position: relative;
}

.email-li:hover .email-actions {
    display: inline-block;
    grid-row: 1;
}

.star-div {

    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.star-icon-on {
    display: flex;
    color: rgb(243, 199, 75);

}

.star-icon-off {
    display: flex;
    color: rgb(186, 190, 194);
}

.email-actions {
    grid-column: 4;
    justify-self: end;
}

.btn:hover {
    background-color: rgba(232, 228, 228, 0.616);
    border-radius: 20px;
}

.tooltip {
    position: relative;
    /* making the .tooltip span a container for the tooltip text */
}



.tooltip:before {
    content: attr(datatype);
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    /* basic styles */
    font-weight: bold;
    font-size: 12px;
    width: max-content;
    padding: 7px;
    border-radius: 6px;
    background: #4d4b4bc3;
    color: #fff;
    text-align: center;
    display: none;
    /* hide by default */
}

.btn:before {
    transform: translateY(50%) translateX(-25%);
}

.tooltip:hover:before {
    display: block;
}


.icon-action-btn {
    font-size: 17px;
    color: #5b5858;
}

.unRead {
    background-color: white;
    font-weight: bold;
}

.unRead p {
    font-weight: bold;
}

.read {
    background-color: rgb(242, 246, 252);
}