.email-details-container {
    display: grid;
    grid-auto-flow: row;
}

.actions-section {
    padding: 5px;
}

.back-icon {

    padding: 10px;
    cursor: pointer;
}

.back-icon:hover {
    background-color: aliceblue;
    border-radius: 15px;
}

.from-div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.user-icon {
    height: 40px;
    width: 40px;
}

.from {
    margin-left: 10px;
    font-weight: bold;
}