.email-details-container {
    display: grid;
    grid-auto-flow: row;
}

.from-div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.user-icon {
    height: 40px;
    width: 40px;
}

.from {
    margin-left: 10px;
    font-weight: bold;
}