.icon-div {
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-div:hover {
    background-color: rgba(232, 228, 228, 0.616);
    border-radius: 20px;
}

.icon-img {
    width: 20px;
    color: var(--icon-color);
}

/* .icon-img:hover {
    background-color: aliceblue;
    border-radius: 15px;
} */