.icon-div {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-img {
    width: 20px;
    color: var(--icon-color);
}

.icon-img:hover {
    background-color: aliceblue;
    border-radius: 15px;
}